body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin-top: 100px;
  }
  
   /* h1 {
    font-size: 3em;
    margin-bottom: 50px;
  }  */
  
  .profiles {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .profile:hover {
    transform: scale(1.1);
  }
  
  .profile img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  


@media (max-width: 200px) {
  h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .profiles {
    flex-direction: column;
    gap: 30px;
  }

  .profile img {
    width: 140px;
    height: 140px;
  }

  .profile p {
    font-size: 1em;
  }
}