/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 30px;  

}

.wrapper {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;  
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
   "nt mn mn sb . . . "; 
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;  
}

.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  
  padding-left: 30px;
  padding-top: 0px;  
}

.netflixLogo img {  
  height: 36px;
  width: 106px;     
}

#logo {
  color: #E50914;  
  margin: 10px; 
  padding: 0; 
}


.main-nav {
  grid-area: mn;
  padding: 0 40px 0 100px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 20px;  
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
  margin: 20px;  

}

.sub-nav a:hover {
  color: var(--dark);
}





/* MAIN CONTIANER */
.main-container {
  /* padding: 50px; */
  display: flex;
}

.headings{
  
  width: 300px;
  color: #f44336; /* Red heading */
  padding-left: 20px;
  padding-top: 0px; 
}
/* adding text on the experience card */
.cardtext1 {
  position: absolute;
  top: 890px;
  left: 90px;
  font-size: 18px;
  /* background-color: #E50914; */
}

.cardtext2 {
  position: absolute;
  top: 890px;
  left: 390px;
  font-size: 18px;
  /* background-color: #E50914; */
}
.cardtext3 {
  position: absolute;
  top: 890px;
  left: 750px;
  font-size: 18px;
}
.cardtext4 {
  position: absolute;
  top: 890px;
  left: 1090px;
  font-size: 18px;
}
.cardtext5 {
  position: absolute;
  top: 890px;
  left: 1300px;
  font-size: 18px;
}
.box {
  display: grid;
  background-color: rgba(0, 0, 0, 0.4);
  grid-gap: 10px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  padding-left: 30px;
}

.box a {
  transition: transform .3s;  
}

.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
  filter: brightness(0.7)
}

.box img {
  border-radius: 2px;
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 10px;
  display: block;
  grid-template-columns: repeat(3, 0.6fr);
  display: grid;  
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a{
  padding: 10px;
}

.logo {
  color: var(--dark);
}


/* FOOTER */
footer {
  padding: 0px;
  text-align: center;
  color: var(--dark);
  margin: 0px;
}


/* project card styling */
 /* Container for all project cards */
 .projects-container1 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.4);
  grid-gap: 10px; 
  grid-template-columns: repeat(5, 0.6fr);
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
  padding-left: 30px;
}

/* Individual Project Card Styling */
.project-card1 {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1.5rem;
  /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.3); Red glow effect */
  transition: transform 0.3s ease;
}

/* Hover effect on cards */
.project-card1:hover {
  transform: translateY(-5px);
}

/* Card Title */
.project-card1 h3 {
  color: #f44336; /* Red heading */
  margin-top: 10;
}

/* Card Description */
.project-card1 p {
  color: #ddd;
  font-size: 0.95rem;
}

/* Tech Badges Container */
.badges1 {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Individual Badge Styling */
.badges1 span {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  border: 1px solid #888;
}


/* MEDIA QUERIES */

@media(max-width: 900px) {

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

}

@media(max-width: 700px) {

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
   
}

@media(max-width: 500px) {

  .wrapper {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "nt"    
    "mn"
    "sb";
    text-align: center;
  }

  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

 

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;    
  }

  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);  
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: contents;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }

  
}